<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <bean id="harness" class="org.blockfreie.helium.feuerkrake.Harness" scope="singleton">
	<property name="tables"  value="org.blockfreie.helium.feuerkrake.function.Function"/>
	<property name="methods" value="org.blockfreie.helium.feuerkrake.function.Function"/>
  </bean>
</beans>